body {
	font-family:Arial;
	margin:25px 30px;
	background-color:#EBEBEB;
	color:#222;
}

#logo {
	float:left;
	color:#222;
	font-size:1em;
	text-transform:uppercase;
	margin-left:35px;
}

#logo:hover {
	text-decoration:none;
}

#nav {
	float:right;
	margin-right:30px;
}

#header {
	margin-bottom:20px;
}

#content {
	margin-bottom:30px;
	line-height:30px;
	color:inherit;
	background-color:#FFF;
	border-radius:6px;
	box-shadow:3px 2px 2px rgba(0, 0, 0, 0.1);
}

#content .inner {
	padding:60px;
}

#content h1 {
	font-size:3em;
	margin-bottom:20px;
}